Dear {{OWNER_TYPE}},
<br /><br />
Please download your statement for Account # {{Account_Number}} using the button below.


<br />
<br />

<a href="{{URL}}" style="text-align:center; font-size:18px; color:black; text-decoration:none;border:solid red;margin:5px;padding:5px;">Download Here</a>

<br />
<br />

Alternatively copy and paste the link below into your browser to download.
<br /><br />
<a href="{{URL}}">{{URL}}</a>
<br /><br />



Did you know that you can log on to our website and download historic levy statements, Conduct Rules, Insurance information, newsletters and much more?
<br /><br />
Simply register at <a href="http://www.astrodon.co.za"> http://www.astrodon.co.za </a> & follow the below instructions:
<br />
<ol>
    <li>On the homepage, please click on the "Access our new client portal" button.</li>
    <li>In the "New to Astrodon" section, type in your email address and password.</li>
    <li>Click on register.</li>
</ol>
<i>If you click next and you get a message telling you that your email is not found on the database, please contact your debtor controller at Astrodon to double check that we have your correct email address on our system.</i>
<br /><br />

If you experience any problems with this service, please contact our offices so that we can assist you.
<br /> <br />
Just another way we try to make your life easier.

