<!--https://inliner.cm/-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{TITLE}}</title>
    <!--<style type="text/css">

    </style>-->
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->


</head>
<body style="margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;">
    <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div class="webkit" style="max-width:600px;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
            <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
            <![endif]-->
            <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;margin:0 auto;width:100%;max-width:600px;">
                <!--<tr>
                    <td class="full-width-image" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <img src="images/header.jpg" width="600" alt="" style="border-width:0;width:100%;max-width:600px;height:auto;" />
                    </td>
                </tr>-->
                <tr>
                    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                            <tr>
                                <td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;">

                                    {{CONTENT-GOES-HERE}}
                                    <br />
                                    <br />
                                    <p style="margin:0;font-size:14px;margin-bottom:10px;">
                                        For any queries please send an email to {{SenderEmail}}
                                    </p>

                                    <p style="margin:0;font-size:12px;margin-bottom:10px;">
                                        Regards <br />
                                        {{SENDER_NAME}}<br />
                                      
                                    </p>
                                    </p><p style="margin:0;font-size:12px;margin-bottom:10px;">
                                        Email: {{SenderEmail}} <br />
                                        Tel: {{SENDER_TEL_NUMBER}}<br />
                                        Fax: {{SENDER_FAX_NUMBER}}<br />
                                        BEE Level 4 Contributor<br />
                                        FOR AND ON BEHALF OF ASTRODON GROUP OF COMPANIES<br />
                                    </p>
                                    <p style="margin:0;font-size:12px;margin-bottom:10px;">
                                        The information contained in this communication is confidential and may be legally privileged.It is intended solely for the use of the individual or entity to whom it is addressed and others authorized to receive it.If you are not the intended recipient you are hereby notified that any disclosure, copying, distribution or taking action in reliance of the contents of this information is strictly prohibited and may be unlawful.The company is neither liable for proper, complete transmission of the information contained in this communication nor any delay in its receipt.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
</body>
</html>