<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Astrodon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Astrodon.Properties.Settings.AstrodonConnectionStringL" connectionString="Data Source=DEVELOPERPC\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=$DEVELOPER$" providerName="System.Data.SqlClient" />
		<add name="Astrodon.Properties.Settings.AstrodonConnectionString" connectionString="Data Source=SERVER2\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
		<add name="Astrodon.Properties.Settings.AstrodonConnectionStringS" connectionString="Data Source=SERVER2\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=sa" />
		<add name="Astrodon.Properties.Settings.AstrodonConnectionString1" connectionString="Data Source=SERVER2\SQLEXPRESS;Initial Catalog=Astrodon;Persist Security Info=True;User ID=sa;Password=sa" />
	</connectionStrings>
	<userSettings>
		<Astrodon.Properties.Settings>
			<setting name="defaultPrinter" serializeAs="String">
				<value />
			</setting>
		</Astrodon.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAstrodonDebug" />
				<binding name="BasicHttpEndpoint" closeTimeout="01:10:00" openTimeout="01:10:00"
				 receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="214748364"
				 maxReceivedMessageSize="214748364">
					<readerQuotas maxDepth="214748364" maxStringContentLength="214748364"
					 maxArrayLength="214748364" maxBytesPerRead="214748364" maxNameTableCharCount="214748364" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:51455/Astrodon.svc" binding="basicHttpBinding"
			 bindingConfiguration="BasicHttpBinding_IAstrodonDebug" contract="AstroWCF.IAstrodon"
			 name="BasicHttpBinding_IAstrodonDebug" />
			<endpoint address="http://10.0.1.10:8080/" binding="basicHttpBinding"
		bindingConfiguration="BasicHttpEndpoint" contract="ReportService.IReportService"
		name="BasicHttpEndpoint" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>